#noout, #silog, #nohome, #nocliente{
    display: none;
}

#appbar{
    background-color:  rgb(148, 0, 0);
}


#appbar_button{
    
    margin-right: 0vw;
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    /*float: none;*/
    /*width: 35vw;*/
}

#home_button, #siout, #nolog, #cliente_reg{
    color: rgb(148, 0, 0);
    background-color: yellow;
    border-color: orange;
    font-size: 10px;
}